---
title: 树莓派
section: 文章
description: 个人树莓派亵玩经验，千万种姿势调戏rpi。

gists: ['da900e1ee029f827ce15', 'da900e1ee029f827ce15']
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}这个章节下的文章，将会记录我自己各种蹂躏树莓派的经历，与我一样变态的Geek欢迎交流，不适者有种你别看啊！{{/markdown}}

<br>

{{#each gists}}
  {{gist this}}
{{/each}}
