---
title: 树莓派
section: 文章
description: 个人树莓派亵玩经验，千万种姿势调戏rpi。

gists: ['da900e1ee029f827ce15', '5898077']
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}Gists were embedded using the `\{{gist}}` helper from the [handlebars-helpers](https://github.com/assemble/handlebars-helpers) library.{{/markdown}}

<br>

{{#each gists}}
  {{gist this}}
{{/each}}
