---
title: Tesseract 
section: 文章
description: 研究验证码识别而认识的Tesseract，各种奇怪的跳坑经历分享。 

gists: ['978203dbfd7a1d8408cd']
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}本人不是机器学习方向的大牛，由于国内关于Tesseract的中文资料略少，本文旨在介绍下Tesseract的一些训练方法以及个人爬坑的经验。{{/markdown}}

<br>

{{#each gists}}
  {{gist this}}
{{/each}}
