---
title: underscore注解
section: 文章
description: 拜读underscore源码，写下自己的一些理解。

gists: ['2c405e930b7e3a54f13a']
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}刚看完第一遍，收获不少，错误也在所难免，欢迎有识之士指正错误！{{/markdown}}

<br>

{{#each gists}}
  {{gist this}}
{{/each}}
